<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ .Description | default .Site.Title }}" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:description" content="{{ .Description | default .Site.Title }}" />
    <title>{{ .Title }} — {{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ with .OutputFormats.Get "RSS" }}<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ .Permalink }}" />{{ end }}
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <a class="skip-link" href="#content">skip to content</a>
    <nav class="menu">
      <a href="/">home</a>
      <a href="/blog" class="active">blog</a>
      <a href="/about">about</a>
      <a href="/gallery">gallery</a>
      <a href="/rss">rss</a>
    </nav>
    <main id="content">
      <h1>{{ .Title }}</h1>
      {{ range .Pages.GroupByDate "2006" }}
        <h2>{{ .Key }}</h2>
        <ul>
          {{ range .Pages }}
            <li>
              <a href="{{ .RelPermalink }}"><strong>{{ .Title | lower }}</strong></a>
              <br>
              <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" | lower }}</time>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </main>
    <footer>© 2026 <a href="https://www.gnu.org/licenses/gpl-3.0.html" rel="noopener noreferrer" target="_blank">GPL-3.0</a><br><i class="the-end"></i></footer>
  </body>
</html>
